!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title &lt;markup_on_the_fly&gt;
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="/javascripts/index.js")
  body!= body