!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Markup On The Fly
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="/javascripts/index.js")
  body!= body