body {
  background-color: #171717;
  color: #eee;
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea#raw {
  color: black;
  background-color: white;
  width: 100%;
  height: 200px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #333;
}

div#rendered {
  color: black;
  background-color: white;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #333;
  padding: 5px 5px 5px 5px;
  width: 100%;
}