body {
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea#raw {
  width: 100%;
  height: 200px;
  border: 1px dashed black;
}

div#rendered {
  width: 100%;
  height: 200px;
  border: 1px dashed black;
}